@import "../../scss/variables";

.block{
  margin: 20px 10px;
}

.item, .itemDisable, .itemSelected{  
  width: 320px;
  height: 480px;
  margin-bottom: 14px;
  background-color: $bg;
  
  border: 4px solid $default;
  border-radius: 80px 12px 12px;
  position: relative;
  cursor: pointer;
  transition: all .3s;
}

.item{
  border-color: $default;
  .cutCorner{
    border-color: $default;
    &:before, &:after{
      border-color: $default;
    }
  }
  .blockWeight{
    background-color: $default;
  }
  &:hover{
    border-color: $defhover;
    .blockWeight{
      background-color: $defhover;
    }
    .cutCorner{
      border-color: $defhover;
      &:before, &:after{
        border-color: $defhover;
      }
    }
  }
}

.cutCorner{
  position: absolute;
  background-color: $bg;
  width: 64px;
  height: 64px;
  top: 9px;
  left: 9px;
  border-top: 3px solid $default;
  transform: rotate(-45deg);
  transition: all .3s;
  &:before, &:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: $bg;
    transition: all .3s;
  }
  &:before{
    top:0;
    left:0;
    border-top:4px solid $default;
    transform:rotate(45deg) translate(45.6%, -23%);
  }
  &:after{
    left: 0;
    bottom:0;
    border-bottom: 4px solid $default;
    transform:rotate(135deg) translate(50.6%, 19%);
  }
}

.itemSelected{
  border-color: $selected;
  .blockWeight{
    background-color: $selected;
  }
  .cutCorner{
    border-color: $selected;
    &:before, &:after{
      border-color: $selected;
    }
  }
  &:hover{
    border-color: $selhover;
    .blockWeight{
      background-color: $selhover;
    }
    .cutCorner{
      border-color: $selhover;
      &:before, &:after{
        border-color: $selhover;
      }
    }
  }
}

.itemBlock{
  position: relative;
  padding: 21px 16px 16px 48px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.topText{
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $text
}

.title{
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 5px;
}

.subTitle{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 15px;  
}

.text{
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $text;
  width: 130px;
}

.bottomText{
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: $white;
  text-align: center;
}

.img{
  width: 368px;
  position: absolute;
  left: -30px;
  bottom: -100px;
}

.blockWeight{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  right: 16px;
  bottom: 16px;
  align-items: center;
  background-color: $default;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  transition: all .3s;
  z-index: 1;
}

.weight{
  font-weight: 400;
  font-size: 42px;
  line-height: 22px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 5px;
  color: white;
}

.weightText{
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: white;
  text-transform: uppercase;
}

.link{
  color: $default;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  cursor: pointer;
}

.itemDisable{
  border-color: $gray;
  .blockWeight{
    background-color: $gray;
  }
  .topText, .title, .subTitle, .text{
    color: $gray;
  }
  .bottomTextDisable{
    color: #ff6;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
  }
  .img{
    opacity: .3;
  }
  .cutCorner{
    border-color: $gray;
    &:before, &:after{
      border-color: $gray;
    }
  }
}