@import "./normalize";
@import "./variables";

.container{
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

.product{
  &__inner{

  } 
  &__title{
    font-family: 'Exo 2';
    font-weight: 100;
    font-size: 36px;
    line-height: 44px;
    color: $white;
    text-align: center;
    margin: 36px 0 24px;
  } 
  &__cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}


@media (max-width: 1070px){
  .product{
    &__cards{
      justify-content: center;
    }
  }
}